{{> privateHeader}}
<link rel="stylesheet" href="/stylesheets/settings-styles.css">
<div class="main">
    <h1 id="receipts-heading">Receipts & Invoices</h1>

    <div id="receipts-container">
        <div id="receipts-uploads">
            <form action="/settings" method="post" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Receipt type..." required>
                <input type="text" name="description" placeholder="Description...">
                <input type="date" name="date" placeholder="Date..." required></input>
                <input id="choose-file" type="file" name="photo" required>
                <input id="receipts-upload-btn" type="submit" value="Upload">
            </form>
        </div>
        <div class="receipts-wrapper">
            {{#each receipt}}
            <div class="receipts-item">
                <img class="zoom" src="{{this.imgPath}}" attr="{{this.title}}">
                <h4><strong>{{this.title}}</strong></h4>
                <p><strong>Date: </strong>{{this.date}}</p>
                <p class="description-receipt"><strong>Details: </strong>{{this.description}}</p>
            </div>
            {{else}}
            <p>You haven't uploaded any receipts yet!</p>
            {{/each}}
        </div>
    </div>
</div>

<script>
    var receiptObject = {{{ receiptString }}}
</script>

<script src="/javascripts/settings.js"></script>