{{> privateHeader}}
<div class="main">
<div class="overlay-top">
    <div class="overlay-top-left">
        <h1>Daily Reports</h1>
        <div class="reportWrapperSmall">
        <div class="datePicker">
            <form class="datePickerForm" action="/expenses/daily" method="GET">
            <div>
                <span>Period:</span>
                <input class="start" type="date" id="start" name="day">
                <span>-</span>
                <input class="end" type="date" id="end" name="end">
            </div>
                <div>
                <button class="" type="submit">Search</button>
                </div>
            </form>
        </div>
        </div>
        <div class="reportWrapperBig">
            <div class="reportInfo">
            <span>Total Money Spent:<span id="totalMoneySpent"></span></span>
        </div>
        </div>
    </div>
    <div class="chart-section">
        <div class="chart-area">
            <h1>Chart</h1>
            <canvas id="myChart" width="800" height="400"></canvas>
        </div>
    </div>
</div>
<div class="overlay-bottom">
            <div class="expenseBox" style="color: #19b698;">
        <div class="expenseName">
            <p>Expense Type</p>
        </div>
        <div class="expenseDate">
            <p>Purchase Date</p>
        </div>
        <div class="expenseCreator">
            <p>Description</p>
        </div>
        <div class="expenseSum">
            <p>Sum</p>
        </div>

    </div>
    {{#each expense}}
    <div class="expenseBox">
            <div class="expenseName">
                <p>{{expenseType}}</p>
            </div>
            <div class="expenseDate">
                <p>{{purchaseDate}}</p>
            </div>
            <div class="expenseCreator">
                <p>{{description}}</p>
            </div>
            <div class="expenseSum">
                <p>{{price}}</p>
            </div>

    </div>
        {{/each}}
</div>
<script>
    var expenseObject = {{{ expenseString }}};
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/javascripts/daily.js"></script>