{{> privateHeader}}
{{#with oneExpense}}
<div class="edit-modal">
    <form class="edit-form" action="/dashboard/{{_id}}/edit" method="POST">
        <label for="">Expense Type</label>
        <input id="expense-type" type="text" name="expenseType" placeholder="Expense Type..." value="{{expenseType}}"></input>
        <label for="">Price</label>
        <input id="expense-price" type="text" name="price" placeholder="Price..." value="{{price}}"></input>
        <label for="">Purchase Date</label>
        <input id="expense-purchaseDate" type="date" name="purchaseDate" placeholder="Date..." value="{{purchaseDate}}"></input>
        <label for="">Description</label>
        <input id="expense-description" type="text" name="description" placeholder="Description..." value="{{description}}"></input>
        <button type="submit">Edit</button>
    </form>
</div>

{{/with}}