{{> privateHeader}}
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Add expense</h1>
        <form id="add-expense-form" action="/dashboard" method="POST">
            <input id="expense-type" type="text" name="expenseType" placeholder="Expense Type..."></input>
            <input id="expense-price" type="text" name="price" placeholder="Price..."></input>
            <input id="expense-purchaseDate" type="date" name="purchaseDate" placeholder="Date..."></input>
            <input id="expense-description" type="text" name="description" placeholder="Description..."></input>
            <button class="styled-add-btn" type="submit">Add</button>
        </form>


        <div class="currency-container">
            <a class="show-calc-btn">Paid in a foreign currency?</a>
            <div class="container-calculator">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <input type="number" class="form-control" id="amount" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control" id="currency-1" required>
                            <option>AUD</option>
                            <option>EUR</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label>to:</label>
                        <select class="form-control" id="currency-2" required>
                            <option>AUD</option>
                            <option>EUR</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <button class="btn calculate-btn btn-primary mb-2">Go!</button>
                </form>
                <div class="result">
                    <p>
                        <span class="given-amount"></span>
                        <span class="base-currency"></span>
                        <span class="final-result"></span>
                        <span class="second-currency"></span>
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="expenseMainBox">
    test
    <div class="expenseBox" style="color: #19b698;">
        <div class="expenseName">
            <p>Expense Type</p>
        </div>
        <div class="expenseDate">
            <p>Purchase Date</p>
        </div>
        <div class="expenseCreator">
            <p>Description</p>
        </div>
        <div class="expenseSum">
            <p>Sum</p>
        </div>
        <div class="expenseSum">
            <p style="visibility: hidden">Edit</p>
        </div>
        <div class="expenseSum">
            <p style="visibility: hidden;">Delete</p>
        </div>

    </div>
    {{#each expense}}
    <div class="expenseBox">
        <div class="expenseName">
            <p>{{expenseType}}</p>
        </div>
        <div class="expenseDate">
            <p>{{purchaseDate}}</p>
        </div>
        <div class="expenseCreator">
            <p>{{description}}</p>
        </div>
        <div class="expenseSum">
            <p>{{price}}</p>
        </div>
        <a href="/dashboard/{{_id}}/edit"><button>Edit</button></a>
        <form action="/dashboard/{{_id}}/delete" method="POST">
            <button type="submit" name="{{_id}}">Delete</button>
        </form>


    </div>
    {{/each}}



    <script src="/javascripts/dashboard.js"></script>
    <script src="/javascripts/currency.js"></script>